engine:
  name: tofu

dirs:
  tf1:
    create_and_select_workspace: true
    create_if_missing: true

tree_builder:
  enabled: true
  script: |
    #! /usr/bin/env bash
    $TERRATEAM_ROOT/bin/tree-builder

workflows:
  - tag_query: "dir:tf1"
    plan:
      - type: run
        cmd: ['touch', 'tf.tf']
      - type: init
      - type: plan
